:root {
  --LiUOrange: #60a0b0;
  --LiUOrange0: #98c2cd;
  --LiUPurple: rgb(137,129,211);
  --LiUPurpleL: #a7a1de;
}

p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
  border-radius: 5px;
}
pre {
  word-break: normal;
  word-wrap: normal;
  border-radius: 5px;
}
pre code {
  white-space: inherit;
}

.page-inner {
  max-width: 1000px;
}

.bg-success {
  background-color: #38404F!important;
  color: #f7f7f7!important;
  font-weight: bold;
  border-radius: 5px;
}

.sourceCode {
  border-radius: 5px;
}

.importantbox {
    background-color: var(--LiUPurple);
    padding: 10px;
    border: solid 2px black;
    border-left: solid 10px black;
    display: block;
    position: relative;
    margin-bottom: 12px;
}

.importantbox code {
    background-color: var(--LiUPurpleL)!important;
}

.importantbox pre:before{
  letter-spacing: -.2em;
  content: "\00a0";
}

.importantbox pre:after{
  letter-spacing: -.2em;
  content: "\00a0";
}

.importantbox pre {
    display: inline-table;
    background-color: var(--LiUPurpleL)!important;
    padding: 0px!important;
    margin: 0px!important;
}

.importantbox>div>div {
  background-color: black;
  padding-left: 1%;
  color: var(--LiUPurple);
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  font-size: larger;
  font-weight: 800;
}

.importantbox>div {
  padding-top: 25px;
  color: white;
}

.terminology {
  border-radius: 5px;
  background-color: var(--LiUPurple);
  color: white;
  font-size: .9em;
  margin: 0;
  padding: 3px;
  font-weight: bold;
}

.terminology:before {
  letter-spacing: -.2em;
  content: "\00a0";
}

.terminology:after {
  letter-spacing: -.2em;
  content: "\00a0";
}
